<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="default.html" />
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<add key="tester" value="Blah!" />
	</appSettings>
	<connectionStrings>
		<add name="development" connectionString="workstation id=Pescador.mssql.somee.com;packet size=4096;user id=agonzalez_SQLLogin_1;pwd=baz5o6iya6;data source=Pescador.mssql.somee.com;persist security info=False;initial catalog=Pescador" />
	</connectionStrings>
</configuration>